<!DOCTYPE html>
<html lang="cs">
<head>
    <title>Kryptoměna Bitcoin</title>
</head>
<body>
<h1>Kryptoměna Bitcoin</h1>
<p>Cena Bitcoinu v EUR: {{ data.price_eur }}</p>
<p>Cena Bitcoinu v USD: {{ data.price_usd }}</p>
</body>
</html>
